.sidebar{

    width:240px;

    height:100vh;

    background:#1f2937;

    color:white;

    display:flex;

    flex-direction:column;

    padding:25px;

}

.logo{

    margin-bottom:40px;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:15px;

    border-radius:10px;

    margin-bottom:10px;

    display:flex;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.sidebar a:hover{

    background:#374151;

}